/* Following CSS only modifies few arguments of bootstrap classes*/

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
  background-color: black;
  opacity: 0.8;
  border-radius: 50%;
  border: 5px solid black;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0.5;
}


/* Additionnal CSS */

.img-founder {
  object-fit: contain;
  max-width: 130px;
  max-height: 110px;
  width: auto;
  height: auto;
}